{% extends "account/account_base.twig" %}

{% set view_title = 'account.accept_invite_title' %}
{% set view_icon = 'user-check' %}
{% set view_description = 'account.accept_invite_description' %}

{% block view_content %}

    {% if not view.success %}
        <div class="alert alert-danger" role="alert">{{ view.message }}</div>
        <a href='/login' class='btn btn-primary'>{{ L("account.back_to_login") }}</a>
    {% else %}
        <h4 class="pb-4">{{ L("account.form_title") }}</h4>
        <form>
            <input name='token' id='token' type='hidden' value='{{ view.token }}'/>
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-hashtag"></i></span>
                </div>
                <input id="username" name="username" placeholder="{{ L('account.username') }}"
                       class="form-control" type="text" maxlength="32" value='{{ view.invited_user.name }}' disabled>
            </div>
            <div class="input-group mt-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-at"></i></span>
            </div>
                <input type="email" name='email' id='email' class="form-control"
                       placeholder="{{ L('account.email') }}" maxlength="64" value='{{ view.invited_user.email }}' disabled>
            </div>
            <div class="input-group mt-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
                <input type="password" autocomplete='new-password' name='password'
                       id='password' class="form-control" placeholder="{{ L('account.password') }}">
            </div>
            <div class="input-group mt-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
                <input type="password" autocomplete='new-password' name='confirmPassword'
                       id='confirmPassword' class="form-control" placeholder="{{ L('account.password_confirm') }}">
            </div>
            <div class="input-group mt-3">
            <button type="button" class="btn btn-success" id='btnAcceptInvite'>{{ L("general.submit") }}</button>
            </div>
        </form>
    {% endif %}

{% endblock %}