{% extends "base.twig" %}

{% block head %}
    <script src="/js/jquery.min.js" nonce="{{ site.csp.nonce }}"></script>
    <script src="/js/script.js" nonce="{{ site.csp.nonce }}"></script>
    <script src="/js/account.js" nonce="{{ site.csp.nonce }}"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" nonce="{{ site.csp.nonce }}">
    <script src="/js/bootstrap.bundle.min.js" nonce="{{ site.csp.nonce }}"></script>
    <link rel="stylesheet" href="/css/fontawesome.min.css" nonce="{{ site.csp.nonce }}">
    <link rel="stylesheet" href="/css/account.css" nonce="{{ site.csp.nonce }}">
    <title>Account - {{ title }}</title>
{% endblock %}

{% block body %}

{% endblock %}
