{% extends "account/account_base.twig" %}

{% set view_title = 'account.login_title' %}
{% set view_icon = 'user-lock' %}
{% set view_description = 'account.login_description' %}

{% block view_content %}

    <h4 class="pb-4">{{ L("account.form_title") }}</h4>
    <form>
        <div class="input-group">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-hashtag"></i></span>
            </div>
            <input id="username" autocomplete='username' name="username"
                   placeholder="{{ L("account.username_or_email") }}" class="form-control" type="text" maxlength="32">
        </div>
        <div class="input-group mt-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" autocomplete='password' name='password' id='password' class="form-control"
                   placeholder={{ L("account.password") }}>
        </div>
        <div class="ml-2" style="line-height: 38px;">
            <a href="/resetPassword">{{ L("account.forgot_password") }}</a>
        </div>
        <div class="input-group mt-3 mb-4">
            <button type="button" class="btn btn-primary" id='btnLogin'>{{ L("account.sign_in") }}</button>
            {% if site.registrationEnabled %}
                <div class="ml-2" style="line-height: 38px;">
                    <a href="/register">{{ L("account.register_text") }}</a>
                </div>
            {% endif %}
        </div>
    </form>

{% endblock %}