Hello {{ username }},<br><br>
You were invited to create an account on {{ site_name }}. Please click on the following link to confirm your email address and complete your registration by choosing a new password.
If you want to decline the invitation, you can simply ignore this email. The link is valid for {{ valid_time }}:<br><br>

<a href="{{ link }}">{{ link }}</a><br><br>

Best Regards<br>
{{ site_name }} Administration