Hello {{ username }},<br><br>
You recently created an account on {{ site_name }}. Please click on the following link to confirm your email address and complete your registration.<br>
If you haven't registered an account, you can simply ignore this email. The link is valid for {{ valid_time }}:<br><br>

<a href="{{ link }}">{{ link }}</a><br><br>

Best Regards<br>
{{ site_name }} Administration