Hello {{ username }},<br>
you imported a GPG public key for end-to-end encrypted mail communication on {{ site_name }}. <br>
To confirm the key and verify, you own the corresponding private key, please click on the following link.
The link is active for one hour:<br><br>

<a href="{{ link }}">{{ link }}</a><br><br>

Best Regards<br>
{{ site_name }} Administration