Hello {{ username }},<br>
you requested a password reset on {{ site_name }}. Please click on the following link to choose a new password. <br>
If this request was not intended, you can simply ignore the email. The Link is valid for {{ valid_time }}:<br><br>

<a href="{{ link }}">{{ link }}</a><br><br>

Best Regards<br>
{{ site_name }} Administration